*****************************************************************************
                		{{ hostname|default("kali") }}
			Penetration Testing Virtual Machine
*****************************************************************************
