load auto_add_route

load alias
alias del rm
alias handler use exploit/multi/handler

setg TimestampOutput true
setg VERBOSE true

setg AutoRunScript post/windows/manage/priv_migrate
setg ExitOnSession false
setg EnableStageEncoding true
setg LHOST 0.0.0.0
setg LPORT 443

setg PROMPT "%red%L %blu%D %grn[%W] %yel(Sessions: %S Jobs: %J) %whi|"
spool /tmp/msf-log.txt
